* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  padding: 10px;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: whitesmoke;
  padding: 15px;
  border: 2px solid #93c5fd;
  flex-wrap: wrap;   
}

.logo img {
  width: 120px;
}

.menu {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.menu a {
  color: blue;
  text-decoration: none;
  padding: 8px 15px;
  border-radius: 5px;
  transition: background 0.3s;
}

.menu a:hover {
  background-color: #818cf8;
}


/* Main Layout */
.main {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  gap: 20px;
  flex-wrap: wrap;  
}

/* Left Section */
.left-section {
  flex: 3;
  position: relative;
  background-color: #e0f2fe;
  padding: 15px;
  border-radius: 8px;
  border: 2px solid #7dd3fc;
}

.left-section h2 {
  color: blue;
  font-size: 35px;
  margin-bottom: 20px;
}

.image {
  background-image: url(./0-ent-intelcore-i5-2400-128ssd-1tbhdd-16gb-22inch-entwino-original-imahavnnhfyknd4c.webp);
  width: 100%;
  height: 250px;
  border-radius: 5px;
  margin-bottom: 20px;
  background-size: cover;
  background-position: center;
}

.left-section p {
  font-size: 16px;
  line-height: 1.5;
}


/* Right Section */
.right-section {
  flex: 1;
  background-color: #fef3c7;
  padding: 15px;
  border-radius: 8px;
  border: 2px solid #fcd34d;
}

.right-section h3 {
  margin-bottom: 10px;
}

.right-section ul {
  list-style-type: square;
  margin-left: 20px;
}

.right-section li {
  margin-bottom: 8px;
}





@media (max-width: 992px) {

  .main {
    flex-direction: column;
  }

  .image {
    height: 200px;
  }

  .left-section h2 {
    font-size: 30px;
  }
}

/* Mobile */
@media (max-width: 600px) {

  .header {
    flex-direction: column;
    text-align: center;
  }

  .menu {
    justify-content: center;
  }

  .left-section h2 {
    font-size: 25px;
  }

  .image {
    height: 180px;
  }

  .right-section {
    width: 100%;
  }
}
