* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  padding: 10px;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: whitesmoke;
  padding: 15px;
  border: 2px solid #93c5fd;
}

.logo {
 
  padding: 10px 20px;
  border-radius: 5px;
}

.menu {
  display: flex;
  gap: 15px;
}

.menu a {
  
  color: blue;
  text-decoration: none;
  padding: 8px 15px;
  border-radius: 5px;
  transition: background 0.3s;
}

.menu a:hover {
  background-color: #818cf8;
}

/* Main Layout */
.main {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  gap: 20px;
}


/* .left-section {
  flex: 3;
  background-color: #e0f2fe;
  padding: 15px;
  border-radius: 8px;
  border: 2px solid #7dd3fc;
} */

.left-section {
  display: flex;
  flex-direction: column;  
  justify-content: flex-start; 
  height: 300px; 
  background-color: #e0f2fe;
  padding: 15px;
  border-radius: 8px;
  border: 2px solid #7dd3fc;
}

.left-section h2 {
  color: blue;
  margin-top: 80px;
  position: absolute;
  font-size: 40px;
}

.image {
  background-image: url(./0-ent-intelcore-i5-2400-128ssd-1tbhdd-16gb-22inch-entwino-original-imahavnnhfyknd4c.webp);
  width: 400px;
  height: 200px;
  border-radius: 5px;
  margin: 10px 0;
  display: flex;
  /* align-items: flex-end; */
  justify-content: flex-end;
  margin-left: 500px;
  margin-bottom: 50px;
}

.left-section p {
  margin-top: 10px;
  line-height: 1.5;
}


.right-section {
  flex: 1;
  background-color: #fef3c7;
  padding: 15px;
  border-radius: 8px;
  border: 2px solid #fcd34d;
}

.right-section h3 {
  margin-bottom: 10px;
}

.right-section ul {
  list-style-type: square;
  margin-left: 20px;
}

.right-section li {
  margin-bottom: 8px;
}
